.hamburger {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 20;
  display: none;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}

.hamburger > div {
  width: 2rem;
  height: 0.25rem;
  background-color: var(--color-black-1);
  border-radius: 10px;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.hamburger.open div:nth-child(1) {
  transform: rotate(45deg); 
}

.hamburger.open div:nth-child(2) {
  transform: translateX(100%);
  opacity: 0; 
}

.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg); 
}
