@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers:wght@400&display=swap');

html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  a {
    text-decoration: none;
    color: var(--color-text-primary);
  }

  html {
    --font-family-primary: Montserrat;
    --font-family-secondary: Bangers;

    --color-yellow-1: #DBCD51;
    --color-yellow-2: #EBE07A;
    --color-blue-1: #5B8EBF;
    --color-black-1: #222222;
    --color-white-1: #FFFFFF;
    
    --color-text-primary: var(--color-black-1);
    --color-text-secondary: var(--color-white-1);
    --color-background-primary: var(--color-yellow-1);
    --color-background-secondary: var(--color-yellow-2);
    --color-background-accent: var(--color-blue-1);

    --size-tablet: 768px;
    font-family: var(--font-family-secondary);
  }

  body {
    background-color: var(--color-background-primary);
  }