.skills__container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 2em;
}

.skills__card {
  display: flex;
  flex-direction: column;
  max-width: 315px;
  background-color: var(--color-background-secondary);
  border-radius: 10px;
  padding: 50px 30px;
  margin-top: 1em;

  box-shadow: -4px 4px 10px 0 rgba(0, 0, 0, 0.15);
}

.skills__card__title {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 1em;
}

.skills__card__content {
  line-height: 1.75;
  margin-top: 1.5em;
}

.skills__card__img {
  width: 95px;
}